.page_main {
    padding-top: 55px;
}

/* .img {
    max-height: 2rem !important;
    max-width: 30rem;
    margin-left: 50px;
    object-fit: cover;
} */
.col-sm-6 > img {
    max-height: 24rem;
    object-fit: cover;
}
.col-sm-6 {
    align-items: center;
}

.head {
    display: flex;
    flex-wrap: wrap;
}
.page_heading {
    font-weight: 100;
    margin-bottom: 30px;
    color: rgb(88, 88, 88);
}

.Cards {
    color: rgb(82, 79, 79);
}

.close {
    position: absolute;
    margin-left: 8%;
    margin-top: 10px;
    z-index: 1;
    /* right: 20; */
}


.cl {
    width: 50px !important;
    color: red;
    font-size: 30px;
}

.card-text {
    margin: 8px;
    color: gray;
}

.card-text > h5 {
    color: rgb(73, 72, 72);
}

.thumbs {
    display: none;
}

.backToTop {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* display: none; */
    margin: 0 30px -50px 0;
    z-index: 1;
    background-image: radial-gradient(circle, rgb(78, 109, 150), rgb(62,62,63));
    /* transition:  2s; */
}
