footer {
    text-align: center;

    background-color: #0e0e0e;
    color: white;
    /* padding-top: 100px; */
    background-image: url(wave.svg);
    background-repeat: no-repeat;
    background-position: 0 -1px;
    background-size: 100% 150px;
    padding: 150px 0 10px;
    margin-bottom: -0px;

    /* text-align: center; */
    /* margin-top: -50px; */
}

@media (max-width: 40em) {
    footer {
        background-image: url(wave.svg);
        background-repeat: no-repeat;
        background-position: 0 -1px;
        background-size: 100% 100px;
        padding: 150px 0 10px;
        margin-bottom: -0px;
    }
}
